<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- HEADER -->
    <header>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid contenedor-navbar">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Che-Bay <span class="badge">v1.0</span></a>
                </div>

                <div class="collapse navbar-collapse" id="collapse-1">

                    <ul class="nav navbar-nav menu-top">
                        <li class="btn-manu"><a href="#"><span class="fa fa-bars"></span></a></li>
                    </ul>

                    @*<form class="navbar-form navbar-left buscador" role="search">
                        <div class="input-group">
                            <span class="input-group-btn boton-buscador">
                                <button class="btn btn-default btn-search" type="button"><span class="li_search"></span></button>
                            </span>
                            <input type="text" class="form-control" placeholder="Buscar...">
                        </div>
                    </form>*@

                    @Html.Partial("_LoginPartialAdmin")

                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!-- / HEADER -->
    <!-- MENU LEFT -->
    <aside>
        <div id="sidebar" class="nav-collapse ">

            <!--<div class="row">
                <div class="col-md-12 perfil ">
                    <img src="img/perfil.jpg" alt="" class="img-responsive img-circle center-block">
                    
                    

                    <!--<ul>
                      <li><a href="#"><span class="li_bubble"></span></a></li>
                      <li><a href="#"><span class="li_bubble"></span></a></li>
                    </ul>

                </div>
            </div-->

            <ul class="sidebar-menu-fixed" id="nav-accordion2">
                <li class="mt">
                    <a class="" href="@Url.Action("AdminUser", "TiendaVirtual")" >
                        <i class=" fa fa-shopping-cart">
                        </i>
                        <span>Tiendas Virtuales</span>
                    </a>
                </li>
                <li class="mt">
                    <a class="" href="@Url.Action("AdminUser", "TiendaVirtual")">
                        <i class=" fa fa-user">
                        </i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="mt">
                    <a class="" href="@Url.Action("Reportes", "TiendaVirtual")">
                        <i class=" fa fa-bar-chart">
                        </i>
                        <span>Reporte</span>
                    </a>
                </li>
                <li class="mt">
                    <a class="" href="@Url.Action("Charts", "TiendaVirtual")">
                        <i class=" fa fa-pie-chart">
                        </i>
                        <span>Usuario/Transacciones</span>
                    </a>
                </li>
                <li class="mt">
                    <a class="" href="@Url.Action("ChartsLineal", "TiendaVirtual")">
                        <i class=" fa fa-pie-chart">
                        </i>
                        <span>Charts</span>
                    </a>
                </li>
            </ul>

            <!--<ul class="sidebar-menu" id="nav-accordion">
                <li class="titulo_menu_left">
                    <span>Setting</span>
                    <i class="fa fa-desktop pull-right"></i>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#">General</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Panels</a></li>
                    </ul>
                </li>

            </ul>-->
        </div>
    </aside>
    <!-- / MENU LEFT -->

    <section class="main-content">

        @RenderBody()

    </section>


    <!--FOOTER-->
    <footer class="footer">
        <div class="text-center">
            2015 - TSI .NET
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!-- / FOOTER -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otros")
    @Scripts.Render("~/bundles/root")
    @RenderSection("scripts", required: false)
</body>
</html>
