@model Site.Models.SubastaSite
@{
    ViewBag.Title = "Listar";
}


<div class="container">
@if (ViewBag.favoritasLargo != 0)
{   <div class="col-md-12 text-center">
        <h2>Lista de Subastas favoritas</h2>
    </div>
   
        <table class="table">
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Tipo finalizacion
                </th>
                <th>
                    Fecha de finalizacion
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Detalle
                </th>
            </tr>

            @foreach (var item in ViewBag.favoritas)
        {
            var titulo = @item.titulo;
                <tr class="texto_table">
                    <td>
                        <img src="@item.portada" alt="Alternate Text" style="width:150px;height:180px;" />
                    </td>
                    <td>
                        $ @item.valor_Actual
                    </td>
                    <td>
                        @item.finalizado
                    </td>
                    <td>
                        @item.fecha_Cierre
                    </td>
                    <td>
                        @item.estado
                    </td>
                    <td>
                        <a href="@Url.Action("DetalleProducto/", "Subasta", new { idSubasta = item.id }, null)"><i class="fa fa-info-circle fa-lg"></i></a>
                    </td>
                </tr>
        }
        </table>


}
else
{   <div class="col-md-12 text-center">
        <h2>Usted no dispone de publicaciones favoritas</h2>
    </div>

}
    <div class="jumbotron">
        @Html.ActionLink("Volver", "Index", "Tenant", new { }, new { @class = "navbar-brand" })
    </div>
</div>