@model IEnumerable<Crosscutting.Entity.TiendaVirtualDTO>
@{
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    ViewBag.Title = "AdminUser";
}

<div class="alert-group">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Bienvenido!</strong> Super Administrador.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Tiendas Vrtuales</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha Alta</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TiendaVitualId</td>
                        <td>@item.Dominio</td>
                        <td>@item.Nombre</td>
                        <td>@item.UsuarioId</td>
                        <td>@item.Fecha_creacion</td>
                        @*<td>
                            <a href="#myModal" class="btnEditar btn-link btn-info" data-toggle="modal" data-id="@item.TiendaVitualId"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
                            <a href="#myModal" class="btnEliminar btn-link btn-danger" data-toggle="modal" data-id="@item.TiendaVitualId"><i class="glyphicon glyphicon-trash"></i>Eliminar</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>