@model Crosscutting.Entity.TiendaVirtualDTO

@{
    Layout = null;
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Eliminar TiendaVirtual</h4>
</div>
<br />
<h3>Estas seguro de elimnar la tienda virtual?</h3>
<div>
    <h4>TiendaVirtual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="modal-footer">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
    }
</div>
