v@model Backend.Models.Estilo

@{
    Layout = "~/Views/Shared/_LayoutBackUser.cshtml";
    ViewBag.Title = "Estilo";
}
@*<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Estilo</h4>
    </div>*@

<div class="col-md-12 contendor-admin-user">

    <div class="col-md-12 titulo-componentes-user">
        <a href="@Url.Action("index", "TiendaVirtual")" class="btn btn-default"><span class="fa fa-arrow-left fa-2x"></span></a><h1>Editor Estilo</h1>
    </div>
    <div class="col-md-12 contenido-componentes-user">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                                       
                        @Html.TextAreaFor(model => model.texto, new { @id = "code", @name = "code" })
                        @Html.ValidationMessageFor(model => model.texto, "", new { @class = "text-danger" })

                </div>

                @*<div class="modal-footer">
                    <a href="@Url.Action("download", "TiendaVirtual", null,null)" class="btn btn-default">Download Css Default</a>*@
                <input type="submit" value="Editar" class="btn btn-default" />
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>*@
            </div>
        }
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }