@model IEnumerable<Crosscutting.Entity.TiendaVirtualDTO>
@{
    Layout = "~/Views/Shared/_LayoutBackUser.cshtml";
    ViewBag.Title = "Index";
}

<div class="col-md-12 contendor-admin-user">
    <div class="col-md-6 imagen-logo-user jumbotron wow bounceInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
        <img class="img-responsive" src="img/logo2.png" alt="">
        <h2 class="text-center">Bienvenido</h2>
        <h4 class="text-center">Administrador</h4>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 panel-info-user wow bounceInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <h3>En el panel de administracion, el usuario puede realizar la ceracion de tiendas virtuales y realizar todas las configuraciones disponibles para la misma.</h3>
        </div>
        <div class="col-md-6 btn-creartienda wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <a id="btnTiendaV" href="#myModal" data-toggle="modal" class="btn btn-default"><span class="fa fa-cart-plus fa-3x"></span> <p>Tienda</p></a>
        </div>
    </div>
    <div class="col-md-12 shop-user">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 shop-user wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1s">
            @foreach (var item in Model)
            {
                <div class="offer offer-danger">
                    <div class="shape">
                        <div class="shape-text">
                            <!-- @*Url.Action(" delete",new { id=item.TiendaVitualId })*@ -->
                            <a href="#myModal" data-toggle="modal" class="close btnDeleteTienda" data-id="@item.TiendaVitualId" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                        </div>
                    </div>
                    <div class="offer-content">
                        <img src="@Url.Content(item.Logo)" alt="Muestra de la Imagen" width="100" />
                        <h3 class="">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </h3>
                        <h5><small>@Html.DisplayFor(modelItem => item.Dominio)'.css'</small></h5>
                        <h5><small>@Html.DisplayFor(modelItem => item.Dominio)</small></h5>
                    </div>
                    <div class="offer-footer text-right">

                        <a class="" href="@Url.Action("estilo", new { id=item.TiendaVitualId})"><span class="fa fa-pencil fa-2x"></span></a>
                        <a class="" href="@Url.Action("index", "Componentes" , new { id=item.TiendaVitualId}, null)"><span class="fa fa-arrow-circle-o-right fa-2x"></span></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/componentes.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
}