@model Crosscutting.EntityTenant.Subasta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subasta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_Comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_Cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_Cierre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
