@using Site.Models
@{
    ViewBag.Title = "Index tenant ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tienda = Session["datosTienda"] as Crosscutting.EntityTenant.TiendaTenant;
}
@{
    var user = Session["usuario"] as UsuarioSite;
}
<h1 align="center">@ViewBag.Message</h1>

@if (ViewBag.ListaImagenes != null)
{
    @*<section id="slider">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" id="slider-carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                         
                            @{
                                var index = 0;

                                if (ViewBag.ListaImagenes != null)
                                {
                                    foreach (var imagen in ViewBag.ListaImagenes)
                                    {
                                        if (index == 0)
                                        {
                                            <li class="active" data-slide-to="0" data-target="#slider-carousel"></li>
                                        }
                                        else
                                        {
                                            <li data-slide-to="@index" data-target="#slider-carousel"></li>
                                        }

                                        index++;
                                    }
                                }
                            }

                        </ol>
                        <div class="carousel-inner">

                            @if (ViewBag.ListaImagenes != null)
                            {
                                index = 0;

                                foreach (var imagen in ViewBag.ListaImagenes)
                                {
                                    if (index == 0)
                                    {
                                        <div class="item active">
                                            <img alt="" src="@imagen.Uri" />
                                        </div>
                                
                                        
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <img alt="" src="@imagen.Uri" />
                                        </div>
                                    }

                                    index++;
                                }
                            }

                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
  </section>*@

    <div class="flexslider home-slider">
        <div class="banner">
            @if (tienda != null){
                <h1>@tienda.Nombre</h1>
            }else{
                <h1>Prueba</h1>
            }
            
            <div class="line_1"></div>
            @*<h4>Maecenas non justo varius, egestas nisi nec, ultrices erat. Aliquam elit urna</h4>*@
            <p>@tienda.Descripcion</p>
            @if (ViewBag.ListaCategorias != null)
            {

                foreach (var item in ViewBag.ListaCategorias)
                {

                    <a href="@Url.Action("Categoria/", "Subasta", new { idCat = item.CategoriaId  }, null)" class="btn_c">@item.Nombre</a>

                }

            }
            
        </div>
        <ul class="slides">
            @if (ViewBag.ListaImagenes != null)
            {

                foreach (var imagen in ViewBag.ListaImagenes)
                {
                    <li>
                        <img alt="alt" src="@imagen.Uri" width="1600" height="800" style="height:500px;">

                    </li>

                }
            }
        </ul>
        <div class="container">
            <div class="banner_nav wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0s" style="padding-top:40px;">
            </div>
        </div>
    </div>


}
@*<section>
    <div class="container">
        @if (ViewBag.ListaCategorias != null)
        {

            foreach (var item in ViewBag.ListaCategorias)
            {

                <a href="@Url.Action("Categoria/", "Subasta", new { idCat = item.CategoriaId  }, null)" class="btn btn-default">@item.Nombre</a>

            }

        }
    </div>
</section>*@

@if (ViewBag.Recomendadas != null)
{
    <div class="container contenedor-listasubasta" style="margin-top:10px;">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Recomendados</h2>
                <hr>
            </div>
            @*@foreach (var item in ViewBag.Recomendadas)
            {
                <div class="col-sm-3 col-md-3 subastaslista">
                    <div class="thumbnail">
                        <img src="@item.portada" style="max-width:150px;max-height:180px;" alt="">
                        <div class="caption">
                            <h3>@item.titulo</h3>
                            <p>@item.descripcion</p>
                            <p>$ @item.precio_Compra</p>
                            <p><a href="@Url.Action("DetalleProducto/", "Subasta", new { idSubasta = item.id }, null)" class="btn btn-primary" role="button">Detalle</a></p>
                        </div>
                    </div>
                </div>
            }*@



            <div class="recommended_items">
                <!--recommended_items-->
                <div class="slider_re" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                    @foreach (var item in ViewBag.Recomendadas)
                    {

                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@item.portada" alt="" />
                                        <h2>$@item.precio_Compra</h2>
                                        <p>@item.titulo</p>
                                        <a href="@Url.Action("DetalleProducto/", "Subasta", new { idSubasta = item.id }, null)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detalle</a>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <!--<li><a href="#"><i class="fa fa-plus-square"></i> Favoritos</a></li>-->
                                        <!--<li><a href="Url.Action("DetalleProducto/", "Subasta", new { idSubasta = item.id }, null)"><i class="fa fa-plus-square"></i> Comparar</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>


            }
        </div>
            </div><!--/recommended_items-->

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
