@{
    ViewBag.Title = "Index tenant ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 align="center">@ViewBag.Message</h1>

@if (ViewBag.ListarSubastas!=null)
{ 
<div class="panel-body">
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Titulo
            </th>
            <th>
                Vendedor
            </th>
            <th>
                Link
            </th>
        </tr>
        @foreach (var item in ViewBag.ListarSubastas)
        {
            <tr class="texto_table">
                <td>
                    @item.id
                </td>
                <td>
                    @item.titulo
                </td>
                <td>
                    @item.id_Vendedor
                </td>
                <td>
                    @Html.ActionLink("Seleccionar", "DetalleProducto/", "Oferta", new { idSubasta = item.id }, false)
                </td>
            </tr>
        }
    </table>
</div>
}
@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
}
@if (user!=null && user.Email!=null)
{
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Create", "Subasta")'" class="btn btn-default">Subastar</button>
</div>
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Index", "Oferta")'" class="btn btn-default">Comprar</button>
</div>
}
else
{
    <h1 align="center">Para vender o comprar debe estar logueado</h1>
}




<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../img/img1.jpg');"></div>
            <div class="carousel-caption">
                <h1>Publicacion de Productos</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../img/img2.jpg');"></div>
            <div class="carousel-caption">
                <h1>Venta de Productos</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../img/img4.jpg');"></div>
            <div class="carousel-caption">
                <h1>
                    Compra de Productos
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 1</h3>
                <p>Detalle de producto 1</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 2</h3>
                <p>Detalle de producto 1</p>   
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 3</h3>
                <p>Detalle de producto 3</p>    
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Espacio de Favoritos</h2>
                <p>Descripcion correspondiente</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Articulos Destacados</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Producto Destacado</h2>
                <ul>
                    <li>Atributo 1</li>
                    <li>Atributo 2</li>
                    <li>Atributo 3</li>
                    <li>Atributo 4</li>
                    <li>Atributo 5</li>
                    <li>Atributo 6</li>
                    <li>Atributo 7</li>
                    <li>Atributo 8</li>
                    <li>Atributo 9</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Otro Producto Destacado</h2>
                <ul>
                    <li>Atributo 1</li>
                    <li>Atributo 2</li>
                    <li>Atributo 3</li>
                    <li>Atributo 4</li>
                    <li>Atributo 5</li>
                    <li>Atributo 6</li>
                    <li>Atributo 7</li>
                    <li>Atributo 8</li>
                    <li>Atributo 9</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
