@{
    ViewBag.Title = "Index tenant ";
}
<h1>@ViewBag.Message</h1>

<div class="panel-body">
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Comprador
            </th>
            <th>
                Vendedor
            </th>
            <th>
                Link
            </th>
        </tr>
        @foreach (var item in ViewBag.ListarSubastas)
        {
            <tr class="texto_table">
                <td>
                    @item.id
                </td>
                <td>
                    @item.id_Comprador
                </td>
                <td>
                    @item.id_Vendedor
                </td>
                <td>
                   @Html.ActionLink("1", "DetalleProducto", "Oferta")
                </td>
            </tr>
        }
    </table>
</div>

@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
}
@if (user!=null && user.Email!=null)
{
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Index", "Subasta")'" class="btn btn-default">Subastar</button>
</div>
}

<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Index", "Oferta")'" class="btn btn-default">Comprar</button>
</div>