@{
    ViewBag.Title = "Index tenant ";
}
<h1>@ViewBag.Message</h1>

<div class="panel-body">
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Comprador
            </th>
            <th>
                Vendedor
            </th>
        </tr>
        @foreach (var item in ViewBag.ListarSubastas)
        {
            <tr class="texto_table">
                <td>
                    @item.id
                </td>
                <td>
                    @item.id_Comprador
                </td>
                <td>
                    @item.id_Vendedor
                </td>
            </tr>
        }
    </table>
</div>

<div class="jumbotron">
    <h1>SITIO WEB</h1>
    <button type="button" onclick="location.href='@Url.Action("Index", "Subastas")'" class="btn btn-default">Alta Subasta</button>
</div>

<div>
<button type="button" onclick="location.href='@Url.Action("CreateOferta", "Oferta")'" class="btn btn-default">Ofertar</button>
</div>

<div>
    <button type="button" onclick="location.href='@Url.Action("Index", "Categoria")'" class="btn btn-default">Publicar Productos</button>
</div>
