@{
    ViewBag.Title = "Index tenant ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 align="center">@ViewBag.Message</h1>

@if (ViewBag.ListaImagenes != null)
{
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="carousel-606608">
                    <ol class="carousel-indicators">
                        @{
                        var index = 0;

                        if (ViewBag.ListaImagenes != null)
                        {
                            foreach (var imagen in ViewBag.ListaImagenes)
                            {
                                if (index == 0)
                                {
                                    <li class="active" data-slide-to="0" data-target="#carousel-606608"></li>
                                }
                                else
                                {
                                    <li data-slide-to="@index" data-target="#carousel-606608"></li>
                                }

                                index++;
                            }
                        }
                        }

                    </ol>
                    <div class="carousel-inner">

                        @if (ViewBag.ListaImagenes != null)
                        {
                            index = 0;

                            foreach (var imagen in ViewBag.ListaImagenes)
                            {
                                if (index == 0)
                                {
                                    <div class="item active">
                                        <img alt="" src="@imagen.Uri" />
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img alt="" src="@imagen.Uri" />
                                    </div>
                                }

                                index++;
                            }
                        }

                    </div>
                    <a data-slide="prev" href="#carousel-606608" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-606608" class="right carousel-control">›</a>
                </div>
            </div>
        </div>
    </div>
}

<input type="search" placeholder="Search">
<input type="submit" value="Buscar">


@if (ViewBag.ListarSubastas != null)
{
    <div class="container contenedor-listasubasta">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Articulos Destacados</h2>
                <hr>
            </div>
            @foreach (var item in ViewBag.ListarSubastasActivas)
            {
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="@item.portada" style="max-width:150px;max-height:180px;" alt="">
                        <div class="caption">
                            <h3>@item.titulo</h3>
                            <p>@item.descripcion</p>
                            <p>$ @item.precio_Compra</p>
                            <p><a href="@Url.Action("DetalleProducto/", "Subasta", new { idSubasta = item.id }, null)" class="btn btn-primary" role="button">Detalle</a></p>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-4 col-md-4 col-sm-6">
                    <a>
                       
                        <img class="img-responsive img-home-portfolio" src="~/img/img2.jpg">
                        @Html.ActionLink("Seleccionar", "DetalleProducto/", "Subasta", new { idSubasta = item.id }, false)
                    </a>

                </div>*@
            }
        </div>
    </div>

}
@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
}
@if (user!=null && user.Email!=null)
{
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Create", "Subasta")'" class="btn btn-default">Subastar</button>
</div>
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("Index", "Oferta")'" class="btn btn-default">Comprar</button>
</div>
}
else
{
    <h1 align="center">Para vender o comprar debe estar logueado</h1>
}



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 1</h3>
                <p>Detalle de producto 1</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 2</h3>
                <p>Detalle de producto 1</p>   
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Producto 3</h3>
                <p>Detalle de producto 3</p>    
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Espacio de Favoritos</h2>
                <p>Descripcion correspondiente</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<!-- Modal-->
<


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 }

