@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackUser.cshtml";
}

<div class="col-md-12 contendor-admin-user">

    <div class="col-md-12 titulo-componentes-user">
        <a href="@Url.Action("index", "TiendaVirtual")" class="btn btn-default"><span class="fa fa-arrow-left fa-2x"></span></a><h1>Componentes</h1>
    </div>
    <div class="col-md-12 contenido-componentes-user">

                <!-- Nav tabs -->
                <ul id="tabs" class="nav nav-tabs text-center" data-tabs="tabs">
                    <li class="active"><a href="#cat" data-toggle="tab"><span class="fa fa-cubes fa-2x"></span><br><h4>Categorias</h4></a></li>
                    <li><a href="#tp" data-toggle="tab"><span class="fa fa-archive fa-2x"></span><br><h4>Productos</h4></a></li>
                    <li><a href="#atributos" data-toggle="tab"><span class="fa fa-code-fork fa-2x"></span><br><h4>Atributos</h4></a></li>
                    @*<li><a href="#img" data-toggle="tab"><span class="fa fa-picture-o fa-2x"></span><br><h4>Imagenes</h4></a></li>*@
                    @*<li><a href="#estilo" data-toggle="tab"><span class="fa fa-file-code-o fa-2x"></span><br><h4>Estilo css</h4></a></li>*@
                </ul>
        
            
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="cat">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <a id="btnCategoria" href="#myModal" class="btn btn-primary btn-lg" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Categorias</a>
                            </div>
                        </div>
                        <br />
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <h2>Categorias</h2>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in ViewBag.ListaCategorias)
                                    {
                                        <tr class="texto_table">
                                            <td>
                                                @item.Nombre
                                            </td>
                                            <td>
                                                <a href="#myModal" class="btnEditarCat btn btn-info" data-toggle="modal" data-id="@item.CategoriaId"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                                                <a href="#myModal" class="btnDeleteCat btn btn-danger" data-toggle="modal" data-id="@item.CategoriaId"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                            <br />
                            <br />
                        </div>
                    <div class="tab-pane" id="tp">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <a id="btnTiposP" href="#myModal" class="btn btn-primary btn-lg" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Tipos de Productos</a>
                            </div>
                        </div>
                        <br />
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <h2>Tipo de Producto</h2>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Titulo
                                        </th>
                                        <th>
                                            Descripcion
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var itemT in ViewBag.ListaTipos)
                                    {
                                        <tr>
                                            <td>
                                                @itemT.Titulo
                                            </td>
                                            <td>
                                                @itemT.Descripcion
                                            </td>
                                            <td>
                                                <a href="#myModal" class="btnEditarT btn btn-info" data-toggle="modal" data-id="@itemT.TipoProductoId"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                                                <a href="#myModal" class="btnDeleteT btn btn-danger" data-toggle="modal" data-id="@itemT.TipoProductoId"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />
                      </div>
                     <div class="tab-pane" id="atributos">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <a id="btnAtributos" href="#myModal" class="btn btn-primary btn-lg" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Atributos</a>
                            </div>
                        </div>
                        <br />
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <h2>Atributos</h2>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var itemA in ViewBag.ListaAtri)
                                    {
                                        <tr>
                                            <td>
                                                @itemA.Nombre
                                            </td>
                                            <td>
                                                <a href="#myModal" class="btnEditarA btn btn-info" data-toggle="modal" data-id="@itemA.AtributoId"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                                                <a href="#myModal" class="btnDeleteA btn btn-danger" data-toggle="modal" data-id="@itemA.AtributoId"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                                </div>
                            </div>
                            <br />
                            <br />
                            </div>
                        </div>
                    </div>
        </div>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/componentes.js"></script>
}
