@model Site.Models.SubastaSite
@{
    ViewBag.Title = "Calificar Venta";
}

<div class="container">
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="col-md-12 text-center">
                <h3 class="titulo-usuario">Calificar Transaccion</h3>
            </div>
            <hr />
        </div>

        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Clasificacion")
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" id="Puntaje" data-filled="fa fa-heart fa-2x" data-empty="fa fa-heart-o fa-2x" class="rating" data-start="0" data-stop="5" value="" />
                        @*@Html.DisplayFor(model => model.reputacion_Venta)*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Observaciones")
                    </div>
                    <div class="col-md-12">
                        <textarea id="areaObservaciones" rows="3" cols="50" placeholder="Ingrese aqui sus observaciones.." class="form-control"></textarea>
                        @*@Html.DisplayFor(model => model.reputacion_Venta)*@
                    </div>
                </div>
                @*<select id="Puntaje">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>*@
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" onclick="crearCalificacion()" class=" btn btn-primary">Calificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-login">
        <div class="panel-body">
            <div class="col-md-5">
                <img src="@Html.DisplayFor(model => model.portada)" style="width: 300px;">
            </div>
            <div class="col-md-7">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>@Html.DisplayFor(model => model.nombre_producto)</th>
                            </tr>

                            <tr>
                                <th>Descripcion</th>
                                <th>@Html.DisplayFor(model => model.descripcion)</th>
                            </tr>

                            <tr>
                                <th>Comprador</th>
                                <th>@Html.DisplayFor(model => model.nick_Comprador)</th>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <th>$ @Html.DisplayFor(model => model.precio_Compra)</th>
                            </tr>
                            <tr>
                                <th>Fecha Cierre</th>
                                <th>@Html.DisplayFor(model => model.fecha_Cierre)</th>
                            </tr>
                            <tr>
                                <th>Tipo de Venta</th>
                                <th>@Html.DisplayFor(model => model.finalizado)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


        <script>

            function crearCalificacion() {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("CreateCalificacion", "Calificacion")',
                    data: {
                        "idSubasta": @Model.id,
                        "puntaje": document.getElementById("Puntaje").value,
                        "observaciones": document.getElementById("areaObservaciones").value,
                        "venta":@Model.listaVenta,
                    },
                    success: function (json) {
                        if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                        }
                    }
                });
            }
        </script>
