
     

@{
    ViewBag.Title = "Alta Subasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Tenant")">Home</a></li>
        <li class="active">Publicacion</li>
    </ol>

    <div class="col-md-12 text-center">
        <h3 class="titulo-usuario">Publicacion</h3>
    </div>
    <hr />


    <div class="form-horizontal">
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("Categorias")
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("Categorias", ViewData["Categorias"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("Productos")
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("Productos", new SelectList(string.Empty, "Value", "Text"), "Seleccione un Producto", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <input type="hidden" name="id_Categoria" id="id_Categoria" class="id_Categoria" />
        <input type="hidden" name="id_Producto" id="id_Producto" class="id_Producto" />
        
        <!-- Div que carga los datos de la subasta-->
        <div id="subasta">
        </div><!-- Div que carga los datos de la subasta-->
       
        <!-- Div col md 6-->
    </div> <!-- Div form-->

</div> <!-- Div container-->
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>

<!--Atributo
<script>
    function agregarAtributos(indice) {
        for (i = 0 ; i < indice; i++) {
            var idat = "index " + i;
            $.ajax({
                cache: false,
                type: "POST",
                url: 'Url.Action("AgregarAtributos", "Subasta")',
                data: {
                    "valor": document.getElementById(i).value,
                    "idAtributo": document.getElementById(idat).getAttribute('data-idatributo')
                }
            });
        }
    }
</script>-->

<script type="text/javascript">
    $(document).ready(function () {

        $('.datepicker').datetimepicker(); //Initialise any date pickers
        $('#datetimepicker1').datetimepicker(); //Initialise any date picker



/*
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        */

       
       

        $("#Categorias").change(function () {
            document.getElementById('id_Categoria').value = $("#Categorias").val();
            var categoria = document.getElementById('id_Categoria').value;
            $("#Productos").empty();
            $.ajax({
                type:'POST',
                url: '@Url.Action("TipoProdList")',// we are calling json method
                dataType: 'json',
                data: { id: $("#Categorias").val() },
                success: function (productos) {
                    $.each(productos, function (i, productos) {
                        $("#Productos").append('<option value="' + productos.Value + '">' +
                             productos.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Error al devolver productos.' + ex);
                }
            });
            return false;
        })
        //*****************************************************************
         $("#Productos").change(function () {
            $("#subasta").html("");
            document.getElementById('id_Producto').value= $("#Productos").val();
            var producto = document.getElementById('id_Producto');
            //alert(producto.value);
            var categoria = document.getElementById('id_Categoria');
            //alert(producto.value);
            $("#subasta").load("/Subasta/CreacionSubasta",
            { id_cat: categoria.value, id_prod: producto.value });
        });
        //*****************************************************************
    });
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>

