@model Site.Models.SubastaSite

@{
    ViewBag.Title = "DetalleProducto";
}

<h2>Detalles del producto</h2>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmacion<a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a></h4>
            </div>
            <div class="modal-body">
                <p>Esta seguro de comprar este producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="location.href='@Url.Action("FinalizarCompraDirecta/", "Subasta", new { idSubasta = Model.id })'" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td><img src="@Html.DisplayFor(model => model.portada)" style="max-width: 300px;"></td>
            </tr>
            <tr>
                <th>Tipo de Venta</th>
                <th>@Html.DisplayFor(model => model.tipo_venta)</th>
            </tr>
            <tr>
                <th>Descripcion</th>
                <th>@Html.DisplayFor(model => model.titulo)</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>@Html.DisplayFor(model => model.nombre_producto)</th>
            </tr>
            <tr>
                <th>Vendedor</th>
                <th>@Html.DisplayFor(model => model.nick_Vendedor)</th>
            </tr>
           @* @{

              if (Model.id_Comprador != null)
                {
                <tr>
                    <th>Comprador</th>
                    <th>@Html.DisplayFor(model => model.nick_Comprador)</th>
                </tr>
                }
            }*@
            <tr>
                <th>Valor Actual</th>
                <th>@Html.DisplayFor(model => model.valor_Actual)</th>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <th>@Html.DisplayFor(model => model.fecha_Inicio)</th>
            </tr>
            <tr>
                <th>Fecha Cierre</th>
                <th>@Html.DisplayFor(model => model.fecha_Cierre)</th>
            </tr>
            <tr>
                <th>Estado</th>
                <th>@Html.DisplayFor(model => model.estado)</th>
            </tr>

        </thead>
    </table>
</div>


@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
    var estado = Model.estado.ToString();
    var tipoFinalizacion = Model.finalizado.ToString();
}

@if (estado.Equals("Activa"))
{

    if (user != null && user.Email != null)
    {

        if (tipoFinalizacion == "Subasta")
        {
            <div class="jumbotron">
                if (user != null && user.Email != null && user.Nombre!=Model.nick_Vendedor)
                {
                <button type="button" onclick="location.href='@Url.Action("CreateOferta/", "Oferta", new { idSubasta = Model.id, monto_actual =Model.valor_Actual })'" class="btn btn-default">Ofertar</button>
                
                }
                <button type="button" onclick="location.href='@Url.Action("Lista/", "Oferta", new { idSubasta = Model.id, monto_actual =Model.valor_Actual })'" class="btn btn-default">Ver Ofertas</button>
            </div>
        }
        else
        {
            <div class="jumbotron">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Comprar!</button>
            </div>
        }

        <dl>
            <dt>Comentarios</dt>
            <dd>
                <div>
                    <textarea id="areaComentario" rows="4" cols="133" placeholder="Ingrese aqui su comentario.."></textarea>
                </div>
                <button type="button" onclick="crearComentario()" class=" btn btn-primary">Comentar</button>
            </dd>

            @{if (ViewBag.ListaComentarios != null)
            {
                foreach (var comentario in ViewBag.ListaComentarios)
                {
                    <dt>@comentario.fecha.ToString("dd/MM/yyyy") @comentario.id_Usuario</dt>
                    <dd>
                        @comentario.texto
                    </dd>
                }
            }
            }
        </dl>
    }
    else
    {
        <p>Debe loguarse para poder ofertar</p>
    }
}
else
{
    <p>La publicacion está finalizada</p>
}



<script>
    function crearComentario() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AgregarComentario", "Subasta")',
            data: {
                "texto": document.getElementById("areaComentario").value,
                "idSubasta": @Model.id,
                "texto": document.getElementById("areaComentario").value
            },
            dataType: 'json',
            async: false,
            traditional: true
        });
    }
</script>


<div class="jumbotron">
    @*<button type="button" onclick="location.href='@Url.Action("Edit", "Subasta"), new { id = Model.id }'" class="btn btn-default">Editar</button>
    *@
    <button type="button" onclick="location.href='@Url.Action("Index", "Tenant")'" class="btn btn-default">Volver</button>
</div>


