@model Site.Models.SubastaSite

@{
    ViewBag.Title = "DetalleProducto";
}
<div class="container">
    <div class="col-md-12 text-center">
        <h2>@Html.DisplayFor(model =>model.titulo)</h2>
        <h5>@Html.DisplayFor(model => model.tipo_venta)</h5>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmacion<a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a></h4>
                </div>
                <div class="modal-body">
                    <p>Esta seguro de comprar este producto? </p>
                    @if (Model.valor_Actual == 0)
                    {
                        <p> Usted dispone de $ @Model.billeteraUsuario y se le descontaran $ @Model.precio_Compra </p>

                    }
                    else
                    {
                    <p> Usted dispone de $ @Model.billeteraUsuario y se le descontaran $ @Model.valor_Actual </p>
                    }
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="location.href='@Url.Action("FinalizarCompraDirecta/", "Subasta", new { idSubasta = Model.id })'" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="main_area">
            @if (ViewBag.ListaImg != null)
            {

                <div class="col-sm-3" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets">
                        @*<li class="col-sm-12 contenedor_slider_t">
                            <a class="thumbnail" id="carousel-selector-0">
                                <img src="@Html.DisplayFor(model => model.portada)">
                            </a>
                        </li>*@
                        @{
                            var index = 0;

                            if (ViewBag.ListaImg != null)
                            {
                                foreach (var imagen in ViewBag.ListaImg)
                                {

                                                <li class="col-sm-12 contenedor_slider_t">
                                                    <a class="thumbnail" id="carousel-selector-@index">
                                                                            <img src="@imagen.uri"  />
                                                    </a>
                                                </li>

                                    index++;
                                }
                            }
                        }

                    </ul>
                </div>

                <div class="col-sm-9 contenedor_slider">
                    <div class="col-md-12 contenedor_slider" id="slider">

                        <div class="col-md-12 contenedor_slider" id="carousel-bounding-box">
                            <div class="carousel slide" id="carousel-606608">
                                <div class="carousel-inner">
                                    @*<div class="item" data-slide-number="0">
                                        <img src="@Html.DisplayFor(model => model.portada)">
                                    </div>*@
                                    @if (ViewBag.ListaImg != null)
                                    {
                                        index = 0;

                                        foreach (var imagen in ViewBag.ListaImg)
                                        {
                                            if (index == 0)
                                            {
                                                <div class="item active" data-slide-number="@index">
                                                    <img id="zoom_@index" alt="" src="@imagen.uri" data-zoom-image="@imagen.uri" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="item" data-slide-number="@index">
                                                    <img id="zoom_@index" alt="" src="@imagen.uri" data-zoom-image="@imagen.uri" />
                                                </div>
                                            }

                                            index++;
                                        }
                                    }



                                </div>
                                <!--<a data-slide="prev" href="#carousel-606608" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-606608" class="right carousel-control">›</a>-->
                            </div>
                        </div>

                    </div>

                </div>
               
            }

        </div>

    </div>


    <div class="col-md-4">
        <div class="col-md-12">
            @*<img src="@Html.DisplayFor(model => model.portada)" style="max-width: 300px;">*@
        </div>
        @if (@Model.precio_Compra == 0)
        {
        <div class="col-md-12">
                <h2>$ @Html.DisplayFor(model => model.valor_Actual)</h2>
            </div>

        }
        else
        {
            <div class="col-md-12">
            <h2>$ @Html.DisplayFor(model => model.precio_Compra)</h2>
        </div>

        }
        
        <div class="col-md-12">
            <p><i class="fa fa-clock-o"></i> Finaliza - @Html.DisplayFor(model => model.fecha_Cierre)</p>
        </div>

        <div class="col-md-12">
            <p>@Html.DisplayFor(model => model.nick_Vendedor)</p>
        </div>
        <div class="col-md-12">
            @{

                if (Model.id_Comprador != null)
                {

                    @Html.DisplayFor(model => model.nick_Comprador)

                }
            }
        </div>

        <div class="col-md-12">
            @Html.DisplayFor(model => model.estado)
    </div>

        <div class="col-md-12">
    @using Site.Models
    @{
        var user = Session["usuario"] as UsuarioSite;
        var estado = Model.estado.ToString();
        var tipoFinalizacion = Model.finalizado.ToString();
    }

    @if (user.idUsuario != Model.id_Vendedor )
    {
        if (estado.Equals("Activa"))
        {

        if (user != null && user.Email != null)
        {

            if (tipoFinalizacion == "Subasta")
            {

                    if (user != null && user.Email != null && user.Nombre != Model.nick_Vendedor)
                    {
                        <button type="button" onclick="location.href='@Url.Action("CreateOferta/", "Oferta", new { idSubasta = Model.id, monto_actual =Model.valor_Actual })'" class="btn btn-default">Ofertar</button>

                    }
                        <button type="button" onclick="location.href='@Url.Action("Lista/", "Oferta", new { idSubasta = Model.id })'" class="btn btn-default">Ver Ofertas</button>

            }
            else
            {

                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Comprar!</button>

            }
                    <a id="fav" onclick="cambiarFavorito(@Model.id)" data-toggle="tooltip" data-placement="top" title="Favoritos"><span id="iconoFav" class="fa fa-heart-o fa-2x"></span></a>
        }
        else
        {
            <p>Debe loguarse para poder ofertar</p>

        }


    }
    else
    {
        <p>La publicacion está finalizada</p>
    }
    }
        </div>

    </div>
</div>

<div class="container">
    <!-- Nav tabs -->
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-top:10px;">
        <li class="active"><a href="#des" data-toggle="tab"><h4>Descripción</h4></a></li>
        <li><a href="#car" data-toggle="tab"><h4>Caracteristicas</h4></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="des">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3>Descripción de la publicación</h3>
                    </div>
                    <div class="col-md-12">
                        @Model.descripcion
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="car">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3>Caracteristicas</h3>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tbody>
                                @foreach (var item in Model.atributos)
                                {
                                    <tr>
                                        <td width="40%">@item.Nombre</td>
                                        <td>@item.valor</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">

    <h5><i class="fa fa-comment fa-lg" style="padding-right:20px;"></i>Comentarios</h5>

        @if (estado.Equals("Activa") && user != null && user.Email != null)
        {
            <div class="col-md-12">
                    <div>
                        <textarea id="areaComentario" rows="4" cols="133" class="form-control" placeholder="Ingrese aqui su comentario.."></textarea>
                    </div>
                    <button type="button" onclick="crearComentario()" class=" btn btn-primary">Comentar</button>
            </div>
        }

    </div>


    <dl id="retorno"></dl>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            listarComentarios();
        pintarFavorito();
        });
        function listarComentarios(){

            var retorno = $("#retorno");
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("ListarComentario", "Subasta")',
                data: {
                    "idSubasta": @Model.id,
                },
                success: function (data) {
                    retorno.html('');
                    var result = "";
                    $.each(data, function (id, item) {
                        result += '<dt>' +
                                ToJavaScriptDate(item.fecha) + '           ' +
                                '<a href=' + '/Manage/DatosUsuario/' +'?idUsuario=' + item.id_Usuario +'>' + item.nombreUsuario + '</a>' +
                                    '</dt>' +
                                    '<dd>' +
                                    item.texto +
                                    '</dd>';
                    })
                    retorno.html(result);
                    document.getElementById("areaComentario").value = '';
                    $("#com").show();
                }
            });
        }

        function crearComentario() {
            var retorno = $("#retorno");
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("AgregarComentario", "Subasta")',
                data: {
                    "idSubasta": @Model.id,
                    "texto": document.getElementById("areaComentario").value
                },
                success: function (data) {
                    retorno.html('');
                    var result = "";
                    $.each(data, function (id, item) {
                        result += '<dt>' +
                                ToJavaScriptDate(item.fecha) + '           ' +
                                '<a href=' + '/Manage/DatosUsuario/' +'?idUsuario=' + item.id_Usuario +'>' + item.nombreUsuario + '</a>' +
                                    '</dt>' +
                                    '<dd>' +
                                    item.texto +
                                    '</dd>';
                    })
                    retorno.html(result);
                    document.getElementById("areaComentario").value = '';
                    $("#com").show();
                }
            });
        }

        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
        }

        function cambiarFavorito(idSubasta){
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("CambiarFavorito", "Subasta")',
                data: {
                    "idSubasta": idSubasta,
                },
                success: function (data) {
                    //if false

                    if (document.querySelector('#fav >span').classList.contains('fa-heart-o')){   
     
                        document.querySelector('#fav > span').classList.add('fa-heart');
                        document.querySelector('#fav > span').classList.remove('fa-heart-o'); 
                        //document.querySelector('#boton').setAttribute('value','OFF');
 
                        }
                    else{
     
                        document.querySelector('#fav >span').classList.add('fa-heart-o');
                        document.querySelector('#fav >span').classList.remove('fa-heart');
                        //document.querySelector('#boton').setAttribute('value','ON');   
     
                    }

            }
        });
    }

    function pintarFavorito()
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("esFavorito", "Subasta")',
            data: {
                "idSubasta": @Model.id,
            },
            success: function (data){
                if(data)
                {
                    document.querySelector('#fav > span').classList.add('fa-heart');
                    document.querySelector('#fav > span').classList.remove('fa-heart-o');

                }
                else{
                    document.querySelector('#fav >span').classList.add('fa-heart-o');
                    document.querySelector('#fav >span').classList.remove('fa-heart');
                }
            }
            });
        }

    </script>

    <div class="jumbotron">
        @*<button type="button" onclick="location.href='@Url.Action("Edit", "Subasta"), new { id = Model.id }'" class="btn btn-default">Editar</button>
        *@
        <button type="button" onclick="location.href='@Url.Action("Index", "Tenant")'" class="btn btn-default">Volver</button>
    </div>
</div>

