@model Crosscutting.EntityTenant.Subasta
@{
    ViewBag.Title = "Transaccion";
}
<h2 align ="center">FELICITACIONES!</h2>
<h3 align="center">Compra efectuada correctamente</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td align="center"><img src=@Model.portada></td>
            </tr>
            <tr>
                <th>Datos del Vendedor</th>
            </tr>
            <tr>
                <th></th>
                <th>@ViewBag.Vendedor.nombre @ViewBag.Vendedor.apellido</th>
            </tr>
            <tr>
                <th></th>
                <th>@ViewBag.Vendedor.email</th>
            </tr>
            <tr>
                <th></th>
                <th>@ViewBag.Vendedor.direccion</th>
            </tr>
            
            <tr>
                <th>Datos del Producto</th>
            </tr>
            <tr>
                <th></th>
                <th>@Html.DisplayFor(model => model.titulo)</th>
            </tr>
            <tr>
                <th></th>
                <th>@Html.DisplayFor(model => model.descripcion)</th>
            </tr>
            <tr>
                <th></th>
                <th>$ @Html.DisplayFor(model => model.precio_Compra)</th>
            </tr>

        </thead>
    </table>
</div>

