@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
    var tienda = Session["datosTienda"] as Crosscutting.EntityTenant.TiendaTenant;
    var estilo = Session["estilo"] as EstiloTienda;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (user!=null)
    {    <title>@user.Dominio - @ViewBag.Title</title>
         <link href="~/Content/@estilo.css" rel="stylesheet" />
    }
    else
    {
        <title>Sitio- @ViewBag.Title</title>
    }


    @Styles.Render("~/Content/css")
  
    

</head>
<body>
    @*<header id="header">


        <div class="header-middle">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                      @if (tienda != null)
                      {  <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Tenant")"><img src="@tienda.Logo" style="display:inline-block" alt="" /></a>
                        </div>
                      }
                    </div>
                    <div class="col-sm-8">

                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @Html.Partial("_LoginPartial")
                                <!--<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Usuario">gbg933@gmail.com <i class="fa fa-user"></i></a></li>-->
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favoritos"><i class="fa fa-star"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Publicar"><i class="fa fa-shopping-cart"></i></a></li>
                                <!--<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fa fa-lock"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>*@


    <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="masthead">
                    @if (tienda != null)
                    {<img src="@tienda.Logo" alt="" />
                    <h3 class="text-muted">@Html.ActionLink(@tienda.Nombre, "Index", "Tenant", new { area = "" }, new { @class = "navbar-brand" })</h3>
                    }
                    <h4>@Html.Partial("_LoginPartial")</h4>


                </div>

            </div>
            <!-- /.container -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
        <!-- /.container -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modern-business")
        @RenderSection("scripts", required: false)

</body>
</html>