@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
    var tienda = Session["datosTienda"] as Crosscutting.EntityTenant.TiendaTenant;
    var estilo = Session["estilo"] as EstiloTienda;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (user!=null)
    {    <title>@user.Dominio - @ViewBag.Title</title>
         <link href="~/Content/@estilo.css" rel="stylesheet" />
    }
   

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropzonescss")

</head>
<body>
    <header id="header">


        <div class="header-middle">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                      @if (tienda != null)
                      {  <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Tenant")"><img src="@tienda.Logo" style="display:inline-block" alt="" /><h3>@tienda.Nombre.ToUpper()</h3></a>
                        </div>
                      }
                    </div>
                    <div class="col-sm-8">

                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    @*<nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="masthead">
                    @if (tienda != null)
                    {<img src="@tienda.Logo" alt="" />
                    <h3 class="text-muted">@Html.ActionLink(@tienda.Nombre, "Index", "Tenant", new { area = "" }, new { @class = "navbar-brand" })</h3>
                    }
                    <h4>@Html.Partial("_LoginPartial")</h4>


                </div>

            </div>
            
    </nav>*@
    <div class="body-content" style="min-height:500px;">
        @RenderBody()
    </div>
    
    <section class="semi-footer">
        <div class="container" style="padding-top:20px;padding-bottom:20px;">
            <div class="logo pull-left">
                <a href="@Url.Action("Index", "Tenant")"><img src="@tienda.Logo" style="display:inline-block" id="logo-footer" alt="" /><h3>@tienda.Nombre.ToUpper()</h3></a>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!--Footer-->

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2015 - @if (user != null){@user.Dominio} Todos los derechos reservados.</p>
                    <p class="pull-right">Diseñado por <span><a target="_blank" href="http://backend.chebay.com:49866">Chebay</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    
    <!-- /.container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    @RenderSection("scripts", required: false)

   
</body>
</html>