@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
    var tienda = Session["datosTienda"] as Crosscutting.EntityTenant.TiendaTenant;
    var estilo = Session["estilo"] as EstiloTienda;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (user!=null)
    {    <title>@user.Dominio - @ViewBag.Title</title>
         <link href="~/Content/@estilo.css" rel="stylesheet" />
    }
    else
    {
        <title>Sitio- @ViewBag.Title</title>
    }


    @Styles.Render("~/Content/modern-business")
  
    

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="masthead">
                    @if (tienda != null)
                    { 
                    <h3 class="text-muted">@Html.ActionLink(@tienda.Nombre, "Index", "Tenant", new { area = "" }, new { @class = "navbar-brand" })</h3>
                    }
                    <h4>@Html.Partial("_LoginPartial")</h4>


                </div>

            </div>
            <!-- /.container -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
        <!-- /.container -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modern-business")
        @RenderSection("scripts", required: false)

</body>
</html>