@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
}
@if (user!=null && user.Email!=null)
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + user.Nombre + "!", "Index", "Manage")
        </li>
        <li>
            @Html.ActionLink("Chatear!", "Chat", "Chat")
            <!--<a id="btnChat" href="#myModalChat" data-toggle="modal"><span class="fa fa-cart-plus fa-3x"></span> <p>Chat</p></a>-->
        </li>
        <li>
            @Html.ActionLink("Logout", "Otro", "Account")
    </li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account")</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account")</li>
    </ul>
}


