@model Crosscutting.EntityTenant.Subasta

@{
    ViewBag.Title = "DetalleProducto";
}

<h2>Detalles</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td><img src="~/img/img2.jpg"></td>
            </tr>
            <tr>
                <th>Vendedor</th>
                <th>@Html.DisplayFor(model => model.id_Vendedor)</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>@Html.DisplayFor(model => model.id_Producto)</th>
            </tr>
            <tr>
                <th>Valor Actual</th>
                <th>@Html.DisplayFor(model => model.valor_Actual)</th>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <th>@Html.DisplayFor(model => model.fecha_Inicio)</th>
            </tr>
            <tr>
                <th>Fecha Cierre</th>
                <th>@Html.DisplayFor(model => model.fecha_Cierre)</th>
            </tr>
            <tr>
                <th>Estado</th>
                <th>@Html.DisplayFor(model => model.estado)</th>
            </tr>
          
        </thead>
    </table>
</div>

@using Site.Models
@{
    var user = Session["usuario"] as UsuarioSite;
}
@if (user!=null && user.Email!=null)
{
<div class="jumbotron">
    <button type="button" onclick="location.href='@Url.Action("CreateOferta/", "Oferta", new { idSubasta = Model.id, monto_actual =Model.valor_Actual })'" class="btn btn-default">Ofertar</button>
</div>
}

else
{
    <div class="jumbotron">
        <button type="button" onclick="location.href='@Url.Action("Index", "Tenant")'" class="btn btn-default">Volver</button>
    </div>
}



@Html.ActionLink("Seleccionar", "Lista/", "Oferta", new { idSubasta = Model.id }, false)