
@using Site.Models
@model OfertaModel

@{
    ViewBag.Title = "Listado";
}



@if (ViewBag.ListaOfertasLargo != 0)
{
    <h2>Historial de Ofertas</h2>

    <h2><a href="@Url.Action("CreateOferta/", "Oferta", new { idSubasta = ViewBag.idSubasta, ViewBag.monto_actual }, null)"> Superar estas ofertas</a></h2>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Fecha
                </th>
            </tr>

            @foreach (var item in ViewBag.ListaOfertas)
            {
                <tr class="texto_table">
                    <td>
                        <a href="@Url.Action("DatosUsuario/", "Manage", new { idUsuario = item.id_Usuario }, null)">@item.nombre</a>
                    </td>
                    <td>
                        @item.Monto
                    </td>
                    <td>
                        @item.fecha
                    </td>
                </tr>
            }
        </table>
    </div>

    }
    else
    {
    <h2>
        Publicacion sin ofertas,
        <a href="@Url.Action("CreateOferta/", "Oferta", new { idSubasta = ViewBag.idSubasta, ViewBag.monto_actual }, null)">sé el primero</a>
    </h2>
    }
    <div class="jumbotron">
        @Html.ActionLink("Volver", "DetalleProducto/", "Subasta", new { idSubasta = ViewBag.idSubasta }, new { @class = "navbar-brand" })
    </div>

