@model Site.Models.UsuarioModel

<h3>Datos del Usuario</h3>
<hr />
<img src="~/img/user.png" alt="" style=" align-content:center" />
<div class="form-horizontal">
    <div class="col-md-8">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Nombre")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Apellido")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.apellido)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Nick")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.nick)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Reputacion como vendedor")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.reputacion_Venta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Reputacion como comprador")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.reputacion_Compra)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Celular")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Email")
            </div>

            <div class="col-md-4">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Dirección")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.direccion)
            </div>
        </div>
        
            @if (Model.billetera != 0)
            {
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Billetera")
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.billetera)
                    </div>
                </div>
            }

        <div class="form-group">
            <div class="col-md-4">
                @Html.Label("Preferencias")
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.preferencias)
            </div>
        </div>


        @Html.HiddenFor(model => model.coordenadas)

        <button type="button" onclick="location.href='@Url.Action("ListadoComprasVentas/", "Calificacion", new { ventas = false})'" class="btn btn-default">Mis Compras</button>
        <button type="button" onclick="location.href='@Url.Action("ListadoComprasVentas/", "Calificacion", new { ventas = true })'" class="btn btn-default">Mis Ventas</button>

       
        <div class="form-group">
            @Html.ActionLink("Volver", "Index", "Tenant", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>

